@import url("file:///home/naturalcapsule/.cache/wal/colors-waybar.css");


button {
    all: unset;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

button:hover,
button:focus,
button:active {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

button * {
    all: unset;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    margin: 0px;
    padding: 0px;
}
/*---------------don't change above---------------*/


.timeButton {
}


.timeButton:hover {
}

.VolumeControlButton {
}

.VolumeControlButton:hover {
}


.mediaButton {
}

.mediaButton:hover {
}



.DropdownTitle {
}

.DropdownArtist {
}

.Date {
}


.VolumeLabel {
}

.MicLabel {
}

.current-day {
}

.calendar-day {
}

.weekday-header {
}

.month-header {

}

.VolumeScale {
}

.VolumeScale trough {
}

.VolumeScale slider {
}


.VolumeScale slider:active {
}



.MicScale {
}

.MicScale trough {
    
}

.MicScale slider {
}


.MicScale slider:active {
}



.PowerOfflabel {
}

.Resetlabel {

}

.LockLabel {

}

.HibernateLabel {

}

.Wifi {

}


.LockButton {


}

.LockButton:hover {

}

.hibButton {


}

.hibButton:hover {

}

.RebootButton {


}

.RebootButton:hover {

}

.powerOffButton {


}

.powerOffButton:hover {

}


.powerSettings {

}


.powerSettings:hover {

}

.workspace1,
.workspace2,
.workspace3,
.workspace4,
.workspace5 {

}

.workspace1:hover,
.workspace2:hover,
.workspace3:hover,
.workspace4:hover,
.workspace5:hover {

}


/* custom widget css example */
/* .test {
    background-color: aliceblue;
    border-radius: 10px;
}
.test1 {
    background-color: aqua;
    border-radius: 10px;
}

.test2 {
    background-color: aqua;
    border-radius: 10px;
} */

.workspace1.active, .workspace2.active, .workspace3.active, 
.workspace4.active, .workspace5.active {

}

.workspace1:hover, .workspace2:hover, .workspace3:hover, 
.workspace4:hover, .workspace5:hover {


}

.workspace1.active:hover, .workspace2.active:hover, 
.workspace3.active:hover, .workspace4.active:hover, 
.workspace5.active:hover {


}



.playPauseButton {


}

.playPauseButton:hover {


}

.resetDropdownButton {


}

.resetDropdownButton:hover {


}

.backwardButton {


}

.backwardButton:hover {


}

.forwardButton {

}

.forwardButton:hover {

}

.PackageButton {

}


.PackageButton:hover {

}

.ActiveWindow{

}

.BarImage {

}

.VolumeWindow {

}


.DateWindow {

}

.PowerWindow {


}

.MediaWindow {

}

.window {

}

tooltip {

}